@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;


}




:root{
    --cor1: #8404D9;
    --cor2: #790FBF;
    --cor3: #6D17A6;
    --cor4: #2E0259;
    --cor5: #141726;
}


body{
    background-color: whitesmoke;
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4));
    min-width: 150px;
    color: white;
    text-align: center;
    padding: 25px;

    display: block;

}

header > p{
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}

header > h1{
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 3em;
    padding: 10px;
    
}

strong{
    color: var(--cor1);
    font-size:larger;
    font-weight: bolder;

}


nav{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    background-color:var(--cor4);
    display: flex;
}

nav > a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: bolder;
}

nav > a:hover{
    background-color: var(--cor1);
    transition: 1s;
    border-radius: 10%;
}


main{
    min-width: 300px;
    max-width: 1400px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    background-color: #e3dce7;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.493);
    position: relative;
    border-radius: 0px 0px 5px 5px
}

main > h1{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor4);
    padding: 5px;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 5px;

}

main > p{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 15px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 16px;
}

main > a{
    text-decoration: none;
    color: black;

}

.projetos{
    display: block;
    width: 60%;
    position: relative;
    margin: auto;
}

.lideres{
    display: block;
    margin: auto;
    position: relative;
    border-radius: 25%;
}

.nomes{
    color: var(--cor3);
}


ul{
    background-image: linear-gradient(to right, var(--cor3), #e3dce7);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 2em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
}


footer{
    background-color: var(--cor5);
    text-align: center;
    color: white;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: bold;
}

footer > a{
    text-decoration: none;
    color: var(--cor3);
    padding: 5px;
}

footer > a:hover{
    transition: 1s;
    background-color: #3b3e4d;
}